# R-Audio Kiosk System Environment Variables
# Move this to /etc/default/r-audio on the target Debian Kiosk system

# Last.fm API Key for Autoplay Recommendations (does not require session OAuth!)
LASTFM_API_KEY=48cc12eb61349c47dc99f99a4422c05

# Spotify OAuth API keys for the client provider
RSPOTIFY_CLIENT_ID=d006d6e7ae7a4acdb78f3f6a37dc6b26
RSPOTIFY_CLIENT_SECRET=69224c280d204439a6fb454c28377ee0
# Must match your dynamic pairing server address
RSPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback
SPOTIFY_USERNAME=bryantfuentes416@gmail.com
SPOTIFY_PASSWORD=addyOdie1218!!
DEVICE_NAME=R-Audio

